body::-webkit-scrollbar { display:none; height:0 !important; width: 0 !important;
    padding: 100px;}
body::-webkit-scrollbar:horizontal { height:0 !important; width: 0!important;}

#contextual-window {
    top: 50px;
    background: #FFF;
    position:fixed;
    z-index: 2;
    border-radius: 5px;
}

.selectable-building {
    font-size: 14px;
}

.spacer-xl{
    padding: 20px;
}

.spacer-lg {
    padding: 16px;
}

.spacer-md {
    padding: 12px;
}

.spacer-sm {
    padding: 8px;
}

.spacer-xs {
    padding: 4px;
}

.mx-auto {
    display: table;
}
