<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <!-- Bootstrap stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome stylesheet -->
    <link href="/static/font-awesome-4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom stylesheet -->
    <link href="/static/css/custom.css" rel="stylesheet">

</head>
<body>

    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse" style="background-color: rgba(0, 0, 0, 0.75) !important;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar_content"><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" href="#" id="main-menu-div-toggle">Menu</a>
        <div id="navbar_content" class="collapse navbar-collapse" style="display: block">
            <ul class="navbar-nav mr-auto" style="">
                <li class="nav-item"><a class="nav-link navbar-menu-popover" data-window-target="empire-menu" href="#">Empire Overview</a></li>
                <li class="nav-item"><a class="nav-link navbar-menu-popover" data-window-target="system-menu" href="#">System Overview</a></li>
            </ul>
            <ul class="float-right navbar-nav mr-auto" style="margin: 0 !important;">
                <li class="nav-item"><a class="nav-link navbar-view-toggle" data-view-target="galaxy_canvas" href="#">Galaxy Viewer</a></li>
                <li class="nav-item"><a class="nav-link navbar-view-toggle" data-view-target="local_system_canvas" href="#">Local System Viewer</a></li>
            </ul>
        </div>
    </nav>

    <div id="main-menu-div" style="position: absolute; z-index: 2; background-color: rgba(255, 255, 255, 1); border-radius:0.75rem;">
        <div class="container-fluid">
            <div id="main-menu-header" style="margin: 10px;">
                <div class="row">
                    <div class="col-xl-12">
                        <h1 id="main-menu-header-title" style="display: inline-block;">Empire Window</h1>
                        <button id="main-menu-close" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>

            <div id="main-menu-empire-screen" hidden>
                <div class="row">
                    <div id="empire-pill-navs" class="col-xl-12">
                        <ul class="nav nav-pills justify-content-center">
                            <!-- <li class="nav-item"><a href="#" class="nav-link" data-toggle="tab" role="tab"></a></li> -->
                            <li class="nav-item"><a href="#empire-overview" class="nav-link active" data-toggle="tab" role="tab">Overview</a></li>
                            <li class="nav-item"><a href="#empire-economy" class="nav-link" data-toggle="tab" role="tab">Economy</a></li>
                            <li class="nav-item"><a href="#empire-industry" class="nav-link" data-toggle="tab" role="tab">Industry</a></li>
                            <li class="nav-item"><a href="#empire-fleets" class="nav-link" data-toggle="tab" role="tab">Fleets</a></li>
                            <li class="nav-item"><a href="#empire-population" class="nav-link" data-toggle="tab" role="tab">Population</a></li>
                            <li class="nav-item"><a href="#empire-politics" class="nav-link" data-toggle="tab" role="tab">Politics</a></li>
                            <li class="nav-item"><a href="#empire-diplomacy" class="nav-link" data-toggle="tab" role="tab">Diplomacy</a></li>
                            <li class="nav-item"><a href="#empire-research" class="nav-link" data-toggle="tab" role="tab">Research</a></li>
                        </ul>

                        <div class="spacer-lg"></div>
                    </div>

                    <div id="empire-pill-contents" class="col-xl-12">
                        <div class="tab-content">
                            <!-- <div id="" class="tab-pane" role="tabpanel"></div> -->
                            <div id="empire-overview" class="tab-pane active" role="tabpanel">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <h1>Empire Overview Tab</h1>
                                        <p>Useless information should go about ... Here</p>
                                    </div>
                                </div>
                            </div>

                            <div id="empire-economy" class="tab-pane" role="tabpanel">
                                <h1>Empire Economy Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-industry" class="tab-pane" role="tabpanel">
                                <h1>Empire Industry Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-fleets" class="tab-pane" role="tabpanel">
                                <h1>Empire Fleets Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-population" class="tab-pane" role="tabpanel">
                                <h1>Empire Population Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-politics" class="tab-pane" role="tabpanel">
                                <h1>Empire Politics Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-diplomacy" class="tab-pane" role="tabpanel">
                                <h1>Empire Diplomacy Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-research" class="tab-pane" role="tabpanel">
                                <h1>Empire Research Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="main-menu-system-screen">
                <div class="row">
                    <div id="system-pill-navs" class="col-xl-12">
                        <ul class="nav nav-pills justify-content-center">
                            <!-- <li class="nav-item"><a href="#" class="nav-link" data-toggle="tab" role="tab"></a></li> -->
                            <li class="nav-item"><a href="#system-overview" class="nav-link active" data-toggle="tab" role="tab">Overview</a></li>
                            <li class="nav-item"><a href="#system-economy" class="nav-link" data-toggle="tab" role="tab">Economy</a></li>
                            <li class="nav-item"><a href="#system-industry" class="nav-link" data-toggle="tab" role="tab">Industry</a></li>
                            <li class="nav-item"><a href="#system-fleets" class="nav-link" data-toggle="tab" role="tab">Fleets</a></li>
                            <li class="nav-item"><a href="#system-population" class="nav-link" data-toggle="tab" role="tab">Population</a></li>
                            <li class="nav-item"><a href="#system-politics" class="nav-link" data-toggle="tab" role="tab">Politics</a></li>
                            <li class="nav-item"><a href="#system-diplomacy" class="nav-link" data-toggle="tab" role="tab">Diplomacy</a></li>
                            <li class="nav-item"><a href="#system-research" class="nav-link" data-toggle="tab" role="tab">Research</a></li>
                        </ul>

                        <div class="spacer-lg"></div>
                    </div>

                    <div id="system-colony-selector-div" class="col-xl-2">
                        <div>
                            <h1>Colony Selector</h1>
                            <hr>
                            <table id="system-colony-table" class="table table-striped table-hover table-sm">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div id="system-pill-contents" class="col-xl-10">
                        <div class="tab-content">
                            <!-- <div id="" class="tab-pane" role="tabpanel"></div> -->
                            <div id="system-overview" class="tab-pane active" role="tabpanel">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <h1>System Overview Tab</h1>
                                        <p>Useless information about System Stuff should go about ... Here</p>
                                    </div>
                                </div>
                            </div>

                            <div id="system-economy" class="tab-pane" role="tabpanel">
                                <h1>System Economy Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                                <row>
                                    <div class="col-xl-6">
                                        <table class="table table-hover table-striped table-sm">
                                            <thead>
                                            <tr>
                                                <th>Resource</th>
                                                <th>Amount</th>
                                                <th>Max</th>
                                            </tr>
                                            </thead>
                                            <tbody id="colony-resources-table">
                                            <tr>
                                                <td>Water</td>
                                                <td>100</td>
                                                <td>1000</td>
                                            </tr>
                                            <tr>
                                                <td>Building Materials</td>
                                                <td>100</td>
                                                <td>1000</td>
                                            </tr>
                                            </tbody>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </row>
                            </div>

                            <div id="system-industry" class="tab-pane" role="tabpanel">
                                <h1>System Industry Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="system-fleets" class="tab-pane" role="tabpanel">
                                <h1>System Fleets Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="system-population" class="tab-pane" role="tabpanel">
                                <h1>System Population Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="system-politics" class="tab-pane" role="tabpanel">
                                <h1>System Politics Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="system-diplomacy" class="tab-pane" role="tabpanel">
                                <h1>System Diplomacy Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="system-research" class="tab-pane" role="tabpanel">
                                <h1>System Research Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div id="viewport" class="" style="position: fixed; overflow: hidden; height: 100vh; width: 100vw;">
        <canvas id="canvas"></canvas>
    </div>

    <!-- Bootstrap Dependencies -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <!-- Tether -->
    <script src="/static/js/tether/js/tether.min.js"></script>

    <!-- Bootstrap -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Personally chosen plugins -->
    <script src="/static/js/pixi.min.js"></script>
    <script src="/static/js/jsrender.min.js"></script>

    <script src="/static/js/world.js"></script>
    <script src="/static/js/handlers.js"></script>

    {% raw %}
    <script id="planet-card-template" type="text/x-jsrender">
        <div class="list-group list-group-flush">
            <div id="{{:name}}-heading" class="card-header planet-card-header" role="tab">
                <h5 class="mb-0">
                    <a class="planet-card-header-link" data-planet-id={{:planet_id}} data-toggle="collapse" data-parent="overview-tab-colonies" href="#{{:name}}-body">Earth</a>
                </h5>
            </div>

            <div id="{{:name}}-body" class="collapse" role="tabpanel" aria-labelledby="{{:name}}-heading">
                <div class="card-block" style="border-bottom: 1px solid rgba(0,0,0,.125);">
                    <p>{{:name}} Filler Text.</p>
                </div>
            </div>
        </div>
    </script>

    <script id="planet-colony-template" type="text/x-jsrender">
        <div id="colony-{{:colony_id}}">

                    </div>
    </script>
    {% endraw %}

    <script>
        $(document).ready(function () {
            var world = world_object;
            var handlers = handler_object;

            function Command(name, args) {
                this.name = name;
                this.args = args;
            }

            $.ajax({
                type: 'GET',
                url: '/get_stars',
                dataType: 'json',
                contentType: 'application/json',
                success: function (server_data) {
                    world.init(server_data);
                },
                error: function (xhr, ajaxOptions, thrownError) {alert('Error: Unable to load page: ' + thrownError);}
            });

            $(document).on('mousewheel', function (e) {handlers.mouse_scroll(e, world);});

            $(document).on('mousedown', '#canvas', function (e) {handlers.canvas_mouse_click(e, world);});

            $(document).on('dblclick', '#canvas', function (e) {handlers.galaxy_double_click(e, world);});

            $(document).on('mousemove', function (e) {handlers.mouse_move(e, world);} );

            $(document).on('mouseup', function (e) {handlers.mouse_click_up(e, world);} );

            $(document).on('click', '#main-menu-div-toggle', function (e) {
                e.preventDefault();
                var main_menu = $('#main-menu-div');
                if (main_menu.attr('hidden')) {
                    main_menu.removeAttr('hidden')
                } else {
                    main_menu.attr({'hidden': ''})
                }
            });

            $(document).on('click', '#main-menu-close', function () {
                $('#main-menu-div').attr({'hidden': ''})
            });
            
            $(document).on('click', '.navbar-menu-popover', function (e) {
                e.preventDefault();
                var data_window_target = $(this).data('window-target');
                world.set_menu_for(data_window_target)
            });

            $(document).on('click', '.navbar-view-toggle', function (e) {
                e.preventDefault();
                var view_target = $(this).data('view-target');
                world.set_view_for(view_target)
            });

            $(document).on('click', 'start-construction-button', function (e) {
                e.preventDefault();
                var args = {};
                var command = new Command('start_construction_project', args);
                world.post_commands_to_server(command);
            });

            $(document).on('contextmenu', '#canvas', function (e) {
                e.preventDefault();
                var config = world.get_config();
                console.log(Math.floor((config.container_pan_x + config.mouse_x) / config.scroll_factor - (config.canvas_size / 2)));
                console.log(-Math.floor((config.container_pan_y + config.mouse_y) / config.scroll_factor - (config.canvas_size / 2)));
            });

            $(document).on('click', '.colony-selector', function (e) {
                e.preventDefault();

                var system_resource_table = $('#colony-resources-table');

                var colony_id = this.data('colony-id');
                var config = world.get_config();

                var colony = config.empires['0'].colonies[colony_id];
                system_resource_table.empty();
                for (var resource in colony.resource_storage) {

                }
            })
        });
    </script>
</body>
</html>