<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <!-- Bootstrap stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome stylesheet -->
    <link href="/static/font-awesome-4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom stylesheet -->
    <link href="/static/css/custom.css" rel="stylesheet">

</head>
<body>

    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse" style="background-color: rgba(0, 0, 0, 0.75) !important;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar_content"><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" href="#" id="main-menu-div-toggle">Menu</a>
        <div id="navbar_content" class="collapse navbar-collapse" style="display: inline-block">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link navbar-link" data-window-target="empire-menu" href="#">Empire Overview</a></li>
                <li class="nav-item"><a class="nav-link navbar-link" data-window-target="system-menu" href="#">System Overview</a></li>
            </ul>
        </div>
    </nav>

    <div id="main-menu-div" style="position: absolute; z-index: 2; background-color: rgba(255, 255, 255, 1); border-radius:0.75rem;">
        <div class="container-fluid">
            <div id="main-menu-header" style="margin: 10px;">
                <div class="row">
                    <div class="col-xl-12">
                        <h1 id="main-menu-header-title" style="display: inline-block;">Empire Window</h1>
                        <button id="main-menu-close" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>

            <div id="main-menu-empire-screen">
                <div class="row">
                    <div id="empire-pill-navs" class="col-xl-12">
                        <ul class="nav nav-pills justify-content-center">
                            <!-- <li class="nav-item"><a href="#" class="nav-link" data-toggle="tab" role="tab"></a></li> -->
                            <li class="nav-item"><a href="#empire-overview" class="nav-link active" data-toggle="tab" role="tab">Overview</a></li>
                            <li class="nav-item"><a href="#empire-economy" class="nav-link" data-toggle="tab" role="tab">Economy</a></li>
                            <li class="nav-item"><a href="#empire-industry" class="nav-link" data-toggle="tab" role="tab">Industry</a></li>
                            <li class="nav-item"><a href="#empire-fleets" class="nav-link" data-toggle="tab" role="tab">Fleets</a></li>
                            <li class="nav-item"><a href="#empire-population" class="nav-link" data-toggle="tab" role="tab">Population</a></li>
                            <li class="nav-item"><a href="#empire-politics" class="nav-link" data-toggle="tab" role="tab">Politics</a></li>
                            <li class="nav-item"><a href="#empire-diplomacy" class="nav-link" data-toggle="tab" role="tab">Diplomacy</a></li>
                            <li class="nav-item"><a href="#empire-research" class="nav-link" data-toggle="tab" role="tab">Research</a></li>
                        </ul>

                        <div class="spacer-lg"></div>
                    </div>

                    <div id="empire-pill-contents" class="col-xl-12">
                        <div class="tab-content">
                            <!-- <div id="" class="tab-pane" role="tabpanel"></div> -->
                            <div id="empire-overview" class="tab-pane active" role="tabpanel">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <h1>Empire Overview Tab</h1>
                                        <p>Useless information should go about ... Here</p>
                                    </div>
                                </div>
                            </div>

                            <div id="empire-economy" class="tab-pane" role="tabpanel">
                                <h1>Empire Economy Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-industry" class="tab-pane" role="tabpanel">
                                <h1>Empire Industry Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-fleets" class="tab-pane" role="tabpanel">
                                <h1>Empire Fleets Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-population" class="tab-pane" role="tabpanel">
                                <h1>Empire Population Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-politics" class="tab-pane" role="tabpanel">
                                <h1>Empire Politics Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-diplomacy" class="tab-pane" role="tabpanel">
                                <h1>Empire Diplomacy Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>

                            <div id="empire-research" class="tab-pane" role="tabpanel">
                                <h1>Empire Research Tabpanel</h1>
                                <p>Useless information should go about ... Here</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="main-menu-system-screen">

            </div>
        </div>
    </div>

    <div id="viewport" class="" style="position: fixed; overflow: hidden; height: 100vh; width: 100vw;">
        <canvas id="canvas"></canvas>
    </div>

    <!-- Bootstrap Dependencies -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <!-- Tether -->
    <script src="/static/js/tether/js/tether.min.js"></script>

    <!-- Bootstrap -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Personally chosen plugins -->
    <script src="/static/js/pixi.min.js"></script>
    <script src="/static/js/jsrender.min.js"></script>

    <script src="/static/js/world.js"></script>
    <script src="/static/js/handlers.js"></script>

    {% raw %}
    <script id="planet-card-template" type="text/x-jsrender">
        <div class="list-group list-group-flush">
            <div id="{{:name}}-heading" class="card-header planet-card-header" role="tab">
                <h5 class="mb-0">
                    <a class="planet-card-header-link" data-planet-id={{:planet_id}} data-toggle="collapse" data-parent="overview-tab-colonies" href="#{{:name}}-body">Earth</a>
                </h5>
            </div>

            <div id="{{:name}}-body" class="collapse" role="tabpanel" aria-labelledby="{{:name}}-heading">
                <div class="card-block" style="border-bottom: 1px solid rgba(0,0,0,.125);">
                    <p>{{:name}} Filler Text.</p>
                </div>
            </div>
        </div>
    </script>

    <script id="planet-colony-template" type="text/x-jsrender">
        <div id="colony-{{:colony_id}}">

                    </div>
    </script>
    {% endraw %}

    <script>
        $(document).ready(function () {
            var world = world_object;
            var handlers = handler_object;
            world.init();



            $(document).on('mousewheel', function (e) {handlers.mouse_scroll(e, world);});

            $(document).on('mousedown', '#canvas', function (e) {handlers.canvas_mouse_click(e, world);});

            $(document).on('dblclick', '#canvas', function (e) {handlers.galaxy_double_click(e, world);});

            $(document).on('mousemove', function (e) {handlers.mouse_move(e, world);} );

            $(document).on('mouseup', function (e) {handlers.mouse_click_up(e, world);} );

            $(document).on('click', '#main-menu-div-toggle', function (e) {
                e.preventDefault();
                var main_menu = $('#main-menu-div');
                if (main_menu.attr('hidden')) {
                    main_menu.removeAttr('hidden')
                } else {
                    main_menu.attr({'hidden': ''})
                }
            });

            $(document).on('click', '#main-menu-close', function () {
                $('#main-menu-div').attr({'hidden': ''})
            });
            
            $(document).on('click', '.navbar-link', function (e) {
                e.preventDefault();
                var data_window_target = $(this).data('window-target');
                world.set_menu_for(data_window_target)
            })
        })
    </script>
</body>
</html>